body {
  background-color: aquamarine;
  margin: 20px
}

.top {
  text-align: center;
}

.about-me {
text-align: center;
}

.projects {
  background-color: floralwhite;
}

.projects p {
  margin: 10px;
  border: 2px;
  background-color: darkseagreen;
  padding: 5px;
}

.projects .repo {
  font-size: larger;
}

h2 {

}

.repo {

}

.projects {

}

.learning {

}