body {
  background-color: aquamarine;
  margin: 20px
}

h2 {

}

.learning {

}

.top {
  text-align: center;
}

.projects {
  background-color: floralwhite;
  padding: 10px;
}

.projects p {
  margin: 10px;
  border: 2px;
  background-color: darkseagreen;
  padding: 5px;
}

.projects .repo {
  font-size: larger;
}

.about-me {
  text-align: center;
  background-color: floralwhite;
  padding: 10px;
  border: 5px;
  border-color: black;
  border-style: double;
  }